doctype html
html
	include inc/header.pug
	body
		.container
			.jumbotron
				h3 게시판 리스트
			table.table.table-bordered.table-hover
				thead
					tr
						th 번호
						th 내용
						th 작성일
				tbody
					each item in board
						tr
							td= item.id
							td= item.comment
							td= item.wdate
	include inc/footer.pug